<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MCSM - Minecraft Server Management Software</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js" integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/properties/properties.min.js" integrity="sha512-P4OaO+QWj1wPRsdkEHlrgkx+a7qp6nUC8rI6dS/0/HPjHtlEmYfiambxowYa/UfqTxyNUnwTyPt5U6l1GO76yw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/seti.min.css" integrity="sha512-A7KLVdYbXryV98af9mTrVoUPuUuq94hkMjPgzHnrfi6QZbq9ylrgbRKp31/DQ8qareLzA3e56/VmIrrQlaDAqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <%- include("partials/libs.ejs") %>
    </head>
    <body path="/settings" class="d-flex flex-column vh-100">
        <%- include("partials/navigation.ejs"); %>
        <main class="gap-3 p-2">
            <h3><i class="bi bi-gear"></i>Settings</h3>
            <hr class="m-1 mb-3">
            <div class="d-flex gap-3 justify-content-center">
                <div class="d-flex flex-column align-items-end" style="height: 80vh; width: 35%;">
                    <textarea id="properties" spellcheck="false"><%- raw %></textarea>
                    <button id="replace_properties_file" style ="width: 100px" class="btn btn-success mt-2">Save File</button>
                </div>
                <div class="d-flex flex-column" style="height: 80vh; width: 35%;">
                    <h3>AdminPanel</h3>
                    <label for="adminPassword">Change AdminPanel Password</label>
                    <div class="d-flex w-100 gap-1">
                        <input type="password" class="form-control" id="adminpass" placeholder="New password...">
                        <button id="change_password_visiblity" class="btn btn-secondary"><i class="bi bi-eye"></i></button>
                        <button id="set_admin_pass" class="btn btn-warning">Change</button>
                    </div>
                    <hr>
                    <h3>Memory</h3>
                    <div>
                        <label for="xmsRange" class="form-label">(Xms) Minimum amount of RAM to use:</label>
                        <input type="range" unit="MB" class="form-range" min="256" max="1024" value="<%-Xms%>" id="xmsRange">

                        <label for="xmxRange" class="form-label">(Xmx) Maximum amount of RAM to use:</label>
                        <input type="range" unit="MB" class="form-range" min="1024" max="16384" value="<%-Xmx%>" id="xmxRange">
                        <div class="d-flex" style="justify-content: flex-end;">
                            <button id="set_memory" class="btn btn-success">Apply</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </main>

        <%- include("partials/footer.ejs") %>
    </body>

    <script>
        let editor = CodeMirror.fromTextArea(document.getElementById('properties'), {
        mode:  "properties"
        });
        editor.setSize("100%", "100%")
        editor.setOption("theme", "seti")

        function replacePropertiesFile() {
            let val = editor.getValue();
            socket.emit("properties_replace", val)
        }

        $(".CodeMirror").bind("keyup keydown", function(e){
            if(e.ctrlKey && e.which == 83){
                replacePropertiesFile();
                e.preventDefault();
            }
        });

        $(".form-range").each((i, el) => {
            let forObj = $(`[for="${el.id}"]`);
            if(forObj.length <= 0) return;

            forObj[0].defText = forObj.text();

            $(el).on("change mousemove", () => {
                forObj.text(forObj[0].defText + " " + $(el).val() + " " + $(el).attr("unit"))
            })

            forObj.text(forObj[0].defText + " " + $(el).val() + " " + $(el).attr("unit"))
        })

        $("#replace_properties_file").click(() => {
            replacePropertiesFile()
        });

        $("#change_password_visiblity").click(function() {
            let pass = $("#adminpass");

            if(pass.attr("type") == "password") {
                pass.attr("type", "text")
                $(this).toggleClass("btn-success");
            }else {
                pass.attr("type", "password")
                $(this).toggleClass("btn-success");
            }
        });

        $("#set_admin_pass").click(function() {
            let pass = $("#adminpass");
            socket.emit("change_admin_pass", pass.val());
        });

        $("#set_memory").click(() => {
            let Xmx = Number($("#xmxRange").val());
            let Xms = Number($("#xmsRange").val());

            socket.emit("set_memory", {Xms, Xmx})
        })
    </script>
</html>